/* Custom properties */
/*
:root {
    --primario: rgb(29, 104, 54);
    --primarioOscuro: rgb(16, 70, 34);
    --secundario: rgb(73, 73, 73);
    --secundarioOscuro: black;
    --blanco: #FFF;
    --negro: #000;

    --fuentePrincipal: 'Arial';
}
*/


/* Globales */


img {
    width: 25rem;
    height: 25rem;
}

/* Header */

.header {
    display: flex;
    justify-content: center;
}
/* Footer */

.footer {
    position: fixed;
    bottom: 0;
    width: 200%;
    text-align: center;
    padding: 10px;
}

.footer__texto {
    font-family: var(--fuentePrincipal);
    text-align: center;
    font-size: 2.2rem;
}
