/* Custom properties */



/* Globales */


/* Header */


#headerP {
    display: flex;
    height: 60px;
    background-color: #2f836e;
}
/* Footer */

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 7%;
}

.imgUpload{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#drop-area{
    width: 500px;
    height: 300px;
    padding: 30px;
    padding: #ffffff;
    background: #ffffff;
    text-align: center;
    border-radius: 20px;
}

#img-view{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: 2px dashed #ffffff;   

}

#img-view img{
    width: 100px;
    margin-top: 25px;

}

#img-view span{

    display:block;
    font-size:12px;
    color: #ffffff;
    margin-top: 15px;    
}

#input-file{
    background-color: #ffffff00;
    color: #ffffff00;
    padding: 10px 20px;
    border:none;
    margin-bottom: 1rem;
    cursor:pointer;
    
}
