/* Custom properties */

:root {
    --primario: rgb(29, 104, 54);
    --primarioOscuro: rgb(16, 70, 34);
    --secundario: rgb(73, 73, 73);
    --secundarioOscuro: black;
    --blanco: #FFF;
    --negro: #000;

    --fuentePrincipal: 'Arial';
}


/* apply a natural box layout model to all elements, but allowing components to change */

html {
    box-sizing: border-box;
    font-size: 62.5%/*1 rem = 10 px*/
    ;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}


/* Globales */

body {
    background-color: var(--primario);
    font-size: 3.5rem;
    line-height: 1.5;
}

p {
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--blanco);
}

a {
    text-decoration: none;
}

img {
    width: 25rem;
    height: 25rem;
}


.contenedor{
    max-width: 120rem;
    margin: 0 auto;
}

h1,
h2,
h3 {
    text-align: center;
    color: var(--secundario);
    font-family: var(--fuentePrincipal);
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3.2rem;
}

h3 {
    font-size: 2.4rem;
}

h1 span {
    font-size: 2rem;
}

#javaLink {
    font-size: 2.4rem;
    color: var(--blanco);
    font-weight: bold;
}

#boton {
    font-size: 2.4rem;
    color: var(--blanco);
    background-color: var(--primarioOscuro);
    font-weight: bold;
}


/* Header */

.header {
    display: flex;
    justify-content: center;
}

.header__logo {
    margin: 3rem 0;
}


/* Footer */

.footer {
    background-color: var(--primarioOscuro);
    padding: 1rem 0;
    margin-top: 2rem;
}

.footer__texto {
    font-family: var(--fuentePrincipal);
    text-align: center;
    font-size: 2.2rem;
}


/* Navegacion */

.navegacion {
    background-color: var(--primarioOscuro);
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    gap: 2rem;
    /* Separación forma nueva */
}

.navegacion__enlace {
    font: var(--fuentePrincipal);
    color: var(--blanco);
    font-size: 3rem;
    /*  margin-right: 2rem; */
}


/* .navegacion__enlace:last-of-type {
    margin-right: 0;
} */

.navegacion__enlace:hover,
.navegacion__enlace--activo {
    color: var(--secundario);
}


/* Grid */

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /*     column-gap: 2rem;
    row-gap: 2rem; */
    gap: 2rem;
}

@media (min-width: 768px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }
}


/* temas */

.tema {
    background-color: var(--primarioOscuro);
    padding: 1rem;
}

.tema__nombre {
    font-size: 4rem;
}

.tema__tiempo {
    font-size: 2.8rem;
    color: var(--secundario);
}

.tema__nombre,
.tema__tiempo {
    font-family: var(--fuentePrincipal);
    margin: 1rem 0;
    text-align: center;
    line-height: 2.2rem;
}


/* Grafico */

.grafico {
    min-height: 30rem;
    background-repeat: no-repeat;
    background-size: cover;
    grid-column: 1 / 3;
}

.grafico--columnas {
    grid-row: 2 / 3;
    background-image: url(../img/columnas.png);
}

.grafico--sidebar {
    background-image: url(../img/sidebar.png);
    grid-row: 8 / 9;
}

@media (min-width: 768px) {
    .grafico--sidebar {
        grid-row: 5 / 6;
        grid-column: 2 / 4;
    }
}


/* Nosotros */

.nosotros {
    display: grid;
    grid-template-rows: repeat(2, auto);
}

@media (min-width: 768px) {
    .nosotros {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }
}

.nosotros__imagen {
    grid-row: 1 / 2;
}

@media (min-width: 768px) {
    .nosotros__imagen {
        grid-column: 2 / 3;
    }
}


/* Bloques */

.bloques {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

@media (min-width: 768px) {
    .bloques {
        grid-template-columns: repeat(4, 1fr);
    }
}

.bloques {
    text-align: center;
}

.bloque__titulo {
    margin: 0;
}

.bloque {
    display: flex;
    flex-direction: column-reverse;
}


/* Página del tema */

@media (min-width: 768px) {
    .tema {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2;
    }
}

.formulario {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.formulario__campo {
    border-color: var(--primarioOscuro);
    border-width: 1rem;
    border-style: solid;
    /* mismo de arriba */
    /*border: 1rem solid var(--primarioOscuro)*/
    background-color: transparent;
    color: var(--blanco);
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem;
    appearance: none;
}

.formulario__submit {
    background-color: var(--secundario);
    border: none;
    font-size: 2rem;
    font-family: var(--fuentePrincipal);
    padding: 2rem;
    transition: background-color .3s ease;
    grid-column: 1 / 3;
}

.formulario__submit:hover {
    cursor: pointer;
    background-color: var(--secundarioOscuro);
}

.formulario__campo:hover {
    color: var(--negro);
}

.contenido a {
    font-size: 3rem;
    color: var(--blanco);
}

label {
    color: #fff;
}

li{
    color: #fff;
    font-size: 1.8rem;
}

/* @media (max-width: 767px) {
    .grid {
        grid-template-columns: 1fr !important;
    }
    .formulario {
        grid-template-columns: 1fr !important;
    }
} */

.error {
    color: red;
    font-size: 2.8rem;
}

#estudianteHeader {
    flex-direction: column;
    align-items: center;
}

#estudianteHeader > a{
    margin: 0;
    padding: 0;
}

#estudianteHeader > h1{
    margin: 0;
    padding: 0;
}


table {
    color: var(--blanco);
}


/*estilo de login*/
.loginBox{
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #FFF;
    text-align: center;
}

.contenedor2 {
    margin: 15%;
    background: rgb(250, 243, 233);
}
